@layer base, components, utilities;

@layer base {
	:root {
		/* LANDSCAPE, SUN */
		--sun-color-light: var(--yellow-8);
		--sun-stroke-light: var(--yellow-6);
		--sky-color-light: var(--brown-0);
		--shadow-color-light: rgba(0, 0, 0, 0.3);
		--title-color-light: var(--pink-11);

		--sun-color-dark: var(--sand-0);
		--sun-stroke-dark: var(--sand-2);
		--sky-color-dark: var(--sand-11);
		--shadow-color-dark: rgba(255, 255, 255, 0.3);
		--title-color-dark: var(--violet-2);

		--sun-color: var(--sun-color-light);
		--sun-stroke: var(--sun-stroke-light);
		--hills-stroke: var(--hills-stroke-light);
		--sky-color: var(--sky-color-light);
		--sky-color-inverse: var(--sky-color-dark);
		--shadow-color: var(--shadow-color-light);
		--shadow-color-inverse: var(--shadow-color-dark);
		--title-color: var(--title-color-light);

		--landscape-shadow: 2px 2px 5px var(--shadow-color);
		--landscape-shadow-inverse: 2px 2px 5px var(--shadow-color-inverse);

		& body.dark {
			--sun-color: var(--sun-color-dark);
			--sun-stroke: var(--sun-stroke-dark);
			--sky-color: var(--sky-color-dark);
			--sky-color-inverse: var(--sky-color-light);
			--shadow-color: var(--shadow-color-dark);
			--shadow-color-inverse: var(--shadow-color-light);
			--title-color: var(--title-color-dark);
		}

		/* LANDSCAPE, HILLS */
		--hills-color-light-1: var(--cyan-10);
		--hills-color-light-2: var(--cyan-7);
		--hills-color-light-3: var(--red-3);
		--hills-color-light-4: var(--red-4);

		--hills-color-dark-1: var(--cyan-11);
		--hills-color-dark-2: var(--cyan-9);
		--hills-color-dark-3: #D25D5D;
		--hills-color-dark-4: #923455;

		--hills-color-1: var(--hills-color-light-1);
		--hills-color-2: var(--hills-color-light-2);
		--hills-color-3: var(--hills-color-light-3);
		--hills-color-4: var(--hills-color-light-4);

		& body.dark {
			--hills-color-1: var(--hills-color-dark-1);
			--hills-color-2: var(--hills-color-dark-2);
			--hills-color-3: var(--hills-color-dark-3);
			--hills-color-4: var(--hills-color-dark-4);
		}

	}
}
